.hello {
    color: red;
}

.xps-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.wp-block-xps-form {
    width: 100%;
}
